@charset "UTF-8";
*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    
}
#container
{
    padding: 10px 5px 5px 10px;
    border-radius: 300px;
    object-fit: cover;
}
